<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <title>Thanks for Signing Up - Summari.AI</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo">
          <svg width="40" height="40" viewBox="0 0 72 72" class="looka-1j8o68f">
            <defs id="SvgjsDefs1330"></defs>
            <g
              id="SvgjsG1331"
              featurekey="PG4fjM-0"
              transform="matrix(2.6923076923076925,0,0,2.6923076923076925,0,0)"
              fill="#1989ac"
            >
              <g xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.5,19c0.912,0,1.759-0.275,2.468-0.742C7.791,19.31,9.06,20,10.5,20c1.055,0,2.013-0.378,2.78-0.986   C13.903,20.75,15.549,22,17.5,22c2.348,0,4.252-1.804,4.459-4.097C24.262,17.456,26,15.433,26,13c0-2.084-1.276-3.867-3.089-4.618   C22.968,8.097,23,7.802,23,7.5C23,5.015,20.985,3,18.5,3c-0.171,0-0.332,0.032-0.498,0.05C16.852,1.22,14.821,0,12.5,0   c-2.704,0-5.021,1.651-6,4C4.015,4,2,6.015,2,8.5c0,0.721,0.185,1.392,0.486,1.996C1.018,11.237,0,12.743,0,14.5   C0,16.985,2.015,19,4.5,19z"
                ></path>
                <circle cx="9.5" cy="23.5" r="2.5"></circle>
                <circle cx="4.5" cy="25.5" r="1.5"></circle>
              </g>
            </g></svg
          >Summari.AI
        </div>
      </header>

      <section class="thanks-message">
        <h2>Thank you for signing up!</h2>
        <p>
          We're excited to have you on board. You'll be among the first to know
          when Summari.AI launches.
        </p>
        <p>
          In the meantime, feel free to share the news with your friends and
          colleagues!
        </p>
        <div class="social-share"></div>
      </section>
    </div>
  </body>
</html>
